{{~#if isVideo~}}

  {{!--
    Video thumbnails
  --}}

  <li data-html="#media{{id}}"
      data-download-url="{{relative urls.download}}">
    <a href="{{relative urls.download}}">
      <img src="{{relative urls.thumbnail}}"
           width="{{@root.gallery.thumbSize}}"
           height="{{@root.gallery.thumbSize}}"
           alt="{{filename}}" />
    </a>
    <img class="video-overlay" src="{{relative 'public/play.png'}}" />
  </li>

{{~else~}}

  {{!--
    Image thumbnails
  --}}

  <li data-src="{{relative urls.large}}"
      data-sub-html="{{meta.caption}}"
      data-download-url="{{relative urls.download}}"
      
      data-filename="{{filename}}"

      {{#if meta.exif}}
        data-datetimeoriginal="{{meta.exif.DateTimeOriginal}}"
        data-fnumber="{{meta.exif.FNumber}}"
        data-exposuretime="{{meta.exif.ExposureTime}}"
        data-isospeedratings="{{meta.exif.ISO}}"
        data-focallength="{{meta.exif.FocalLength}}"
        data-lens="{{meta.exif.Lens}}"
        data-model="{{meta.exif.Model}}"
        data-make="{{meta.exif.Make}}"
        data-gpslatitude="{{meta.exif.GPSLatitude}}"
        data-gpslongitude="{{meta.exif.GPSLongitude}}"
        data-gpslatituderef="{{meta.exif.GPSLatitudeRef}}"
        data-gpslongituderef="{{meta.exif.GPSLongitudeRef}}"
        data-gpsaltitude="{{meta.exif.GPSAltitude}}"
      {{/if}}
    >
    <a href="{{relative urls.download}}">
      <img src="{{relative urls.thumbnail}}"
           width="{{@root.gallery.thumbSize}}"
           height="{{@root.gallery.thumbSize}}"
           alt="{{filename}}" />
    </a>
    {{#if meta.animated}}
      <img class="video-overlay" src="{{relative 'public/play.png'}}" />
    {{/if}}
  </li>

{{~/if~}}
