
<div id="container">

  <!--
    Gallery title
  -->
  <header>
    <h1><a href="{{relative gallery.home.url}}">{{gallery.title}}</a></h1>
  </header>

  <!--
    Breadcrumbs of parent albums
  -->
  <nav class="breadcrumbs">
    {{#each breadcrumbs~}}
      <a class="breadcrumb-item" href="{{relative url}}">{{title}}</a>&nbsp;/&nbsp;
    {{~/each~}}
    <a class="breadcrumb-item" href="{{relative album.url}}">{{album.title}}</a>
  </nav>

  <!--
    Nested albums, if any
  -->
  <div id="albums">
    {{#each album.albums~}}
      <a href="{{relative url}}" style="background-image: url('{{relative previews.0.urls.large}}')">
        <div class="info">
          <h3>{{title}}</h3>
          <div class="summary">{{summary}}</div>
          <div class="date">{{{date stats.fromDate}}} - {{{date stats.toDate}}}</div>
        </div>
      </a>
    {{~/each}}
  </div>

  <!--
    All photos and videos
  -->
  <ul id="media" class="clearfix">
    {{#each album.files~}}
      {{#if isVideo~}}
        <li data-html="#media{{id}}"
            data-poster="{{relative urls.large}}"
            data-download-url="{{relative urls.download}}">
          <a href="{{relative urls.download}}">
            <img src="{{relative urls.thumbnail}}"
                 width="{{@root.gallery.thumbSize}}"
                 height="{{@root.gallery.thumbSize}}"
                 alt="{{filename}}" />
          </a>
          <img class="video-overlay" src="{{relative 'public/play.png'}}" />
        </li>
      {{~else~}}
        <li data-src="{{relative urls.large}}"
            data-sub-html="{{caption}}"
            data-download-url="{{relative urls.download}}">
          <a href="{{relative urls.large}}">
            <img src="{{relative urls.thumbnail}}"
                 width="{{@root.gallery.thumbSize}}"
                 height="{{@root.gallery.thumbSize}}"
                 alt="{{filename}}" />
          </a>
          {{#if isAnimated}}
            <img class="video-overlay" src="{{relative 'public/play.png'}}" />
          {{/if}}
        </li>
      {{~/if}}
    {{~/each}}
  </ul>

  <!--
    Optional footer
  -->
  {{#if gallery.footer}}
  <footer>
    <p>{{{gallery.footer}}}</p>
  </footer>
  {{/if}}

</div>
