<div id="wrapper">

  <!--
    Gallery title
  -->
  <header>
    <h1>
      <label for="hamburger" class="hamburger-label noselect" role="button">
        <i class="fa fa-navicon"></i>
      </label>
      {{gallery.title}}
    </h1>
  </header>

  <div id="container">

    <!--
      Main gallery panel
    -->
    <section id="content">

      <!--
        Breadcrumbs of parent albums
      -->
      <nav class="breadcrumbs">
        {{#each breadcrumbs~}}
          <a class="breadcrumb-item" href="{{filename}}.html">{{title}}</a>&nbsp;/&nbsp;
        {{~/each~}}
        <a class="breadcrumb-item" href="{{album.filename}}.html">{{album.title}}</a>
      </nav>

      <!--
        Nested albums, if any
      -->
      <ul id="albums">
        {{#each album.albums~}}
        <li>
          <a href="{{filename}}.html">
            <ul class="grid clearfix">
              {{~#slice previews count=2~}}
                <li><img src="{{this.urls.thumb}}" /></li>
              {{~/slice}}
            </ul>
            <h3>{{title}}</h3>
            <div class="meta">
              {{summary}}<br />
              {{{date stats.fromDate}}} - {{{date stats.toDate}}}
            </div>
          </a>
        </li>
        {{~/each}}
      </ul>

      <!--
        All photos and videos
      -->
      <ul id="media">
        {{#each album.files}}
          {{#if isVideo}}
            <li data-html="#media{{id}}"
                data-poster="{{urls.poster}}"
                data-download-url="{{{download this}}}">
              <a href="{{{download this}}}">
                <img src="{{urls.thumb}}"
                     width="{{@root.gallery.thumbSize}}"
                     height="{{@root.gallery.thumbSize}}"
                     alt="{{filename}}" />
              </a>
              <img class="video-overlay" src="public/play.png" />
            </li>
          {{else}}
            <li data-src="{{urls.large}}"
                data-sub-html="{{caption}}"
                data-download-url="{{{download this}}}">
              <a href="{{{download this}}}">
                <img src="{{urls.thumb}}"
                     width="{{@root.gallery.thumbSize}}"
                     height="{{@root.gallery.thumbSize}}"
                     alt="{{filename}}" />
             </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>

    </section>

  </div>

</div>
