
<div id="container">

  <!--
    Gallery title
  -->
  <header>
    <h1><a href="{{gallery.home.filename}}.html">{{gallery.title}}</a></h1>
  </header>

  <!--
    Breadcrumbs of parent albums
  -->
  <nav class="breadcrumbs">
    {{#each breadcrumbs~}}
      <a class="breadcrumb-item" href="{{filename}}.html">{{title}}</a>&nbsp;/&nbsp;
    {{~/each~}}
    <a class="breadcrumb-item" href="{{album.filename}}.html">{{album.title}}</a>
  </nav>

  <!--
    Nested albums, if any
  -->
  <div id="albums">
    {{#each album.albums~}}
      <a href="{{filename}}.html" style="background-image: url('{{previews.0.urls.large}}')">
        <div class="info">
          <h3>{{title}}</h3>
          <div class="summary">{{summary}}</div>
          <div class="date">{{{date stats.fromDate}}} - {{{date stats.toDate}}}</div>
        </div>
      </a>
    {{~/each}}
  </div>

  <!--
    All photos and videos
  -->
  <ul id="media" class="clearfix">
    {{#each album.files~}}
      {{#if isVideo~}}
        <li data-html="#media{{id}}"
            data-poster="{{urls.poster}}"
            data-download-url="{{{download this}}}">
          <a href="{{{download this}}}">
            <img src="{{urls.thumb}}"
                 width="{{@root.gallery.thumbSize}}"
                 height="{{@root.gallery.thumbSize}}"
                 alt="{{filename}}"
                 data-html="#media{{id}}"
                 data-poster="{{urls.poster}}"
                 data-download-url="{{{download this}}}"
                 />
          </a>
          <img class="video-overlay" src="public/play.png" />
        </li>
      {{~else~}}
        <li data-src="{{urls.large}}"
            data-sub-html="{{caption}}"
            data-download-url="{{{download this}}}">
          <a href="{{urls.large}}"
             data-sub-html="{{caption}}"
             data-download-url="{{{download this}}}">
            <img src="{{urls.thumb}}"
                 width="{{@root.gallery.thumbSize}}"
                 height="{{@root.gallery.thumbSize}}"
                 alt="{{filename}}" />
         </a>
        </li>
      {{~/if}}
    {{~/each}}
  </ul>

  <!--
    Optional footer
  -->
  {{#if gallery.footer}}
  <footer>
    <p>{{{gallery.footer}}}</p>
  </footer>
  {{/if}}

</div>
