<div id="content">

  <!--
    Gallery title
  -->
  <header style="color: #17baef;">
    <h1><a href="{{gallery.home.filename}}.html">{{gallery.title}}</a></h1>
  </header>

  <!--
    Breadcrumbs of parent albums
  -->

  <nav class="breadcrumbs">
    <div class="mask"></div>
    {{#each breadcrumbs~}}
      <a class="breadcrumb-item" href="{{filename}}.html">{{title}}</a>
      <span class="separator">&gt;</span>
    {{~/each~}}
    <a class="breadcrumb-item" href="{{album.filename}}.html">{{album.title}}</a>
  </nav>

  <!--
    Main gallery panel
  -->
  <section id="content">

    <!--
      Nested albums, if any
    -->
    <ul id="albums">
      {{#each album.albums~}}
      <li>
        <a href="{{filename}}.html">
          <h3>{{title}}</h3>
          <div class="meta">
            <time>{{{date stats.fromDate}}} - {{{date stats.toDate}}}</time><span class="separator">,</span>
            <span class="summary">{{summary}}</span>
          </div>
          <ul class="grid clearfix">
            {{~#slice previews count=8~}}
              <li><img src="{{this.urls.thumb}}" /></li>
            {{~/slice}}
          </ul>
        </a>
      </li>
      {{~/each}}
    </ul>

    <!--
      All photos and videos
    -->
    <ul id="media">
      {{#each album.files}}
        {{#if isVideo~}}
          <li data-html="#media{{id}}"
              data-poster="{{urls.poster}}"
              data-download-url="{{{download this}}}">
            <a href="{{{download this}}}">
              <img src="{{urls.thumb}}"
                   width="{{@root.gallery.thumbSize}}"
                   height="{{@root.gallery.thumbSize}}"
                   alt="{{filename}}" />
            </a>
            <img class="video-overlay" src="public/play.png" />
          </li>
        {{else}}
          <li data-src="{{urls.large}}"
              data-sub-html="{{caption}}"
              data-download-url="{{{download this}}}">
            <a href="{{{download this}}}">
              <img src="{{urls.thumb}}"
                   width="{{@root.gallery.thumbSize}}"
                   height="{{@root.gallery.thumbSize}}"
                   alt="{{filename}}" />
            </a>
            {{#if isAnimated}}
              <img class="video-overlay" src="public/play.png" />
            {{/if}}
          </li>
        {{~/if}}
      {{/each}}
    </ul>

  </section>

  <!--
    Optional footer
  -->
  {{#if gallery.footer}}
  <footer>
    <p>{{{gallery.footer}}}</p>
  </footer>
  {{/if}}

</div>
