<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <title>{{gallery.name}}</title>
      <link rel="stylesheet" href="public/reset.css" />
      <link rel="stylesheet" href="public/theme.css" />
      {{#if css}}
        <link rel="stylesheet" href="public/{{css}}" />
      {{/if}}
      <link rel="stylesheet" href="public/blueimp/css/blueimp-gallery.min.css">
      <link rel="stylesheet" href="public/blueimp/css/blueimp-gallery-video.css">
      <link rel="stylesheet" href="public/blueimp/css/blueimp-gallery-indicator.css">
  </head>

  <body>

    <header>
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </header>

    <nav>
      <ul>
        {{#each links}}
        <li {{#if active}}class="active"{{/if}}>
          <a href="{{url}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>

    <ul id="gallery">
      {{#each gallery.media}}<li>
        {{#if video}}
          <div class="video-overlay">&#9654;</div>
          <a href="{{urls.web}}"
             type="video/mp4"
             data-poster="{{urls.large}}"
             data-download="{{urls.original}}">
             <img src="{{urls.thumb}}"
                  width="{{size}}"
                  height="{{size}}"
                  alt="{{name}}" />
          </a>
        {{else}}
          <a href="{{urls.large}}"
             data-download="{{urls.original}}">
            <img src="{{urls.thumb}}"
                 width="{{size}}"
                 height="{{size}}"
                 alt="{{name}}" />
          </a>
        {{/if}}
      </li>{{/each}}
    </ul>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="download" href="#" target="_blank" download>Download</a>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <script src="public/blueimp/js/blueimp-gallery.min.js"></script>
    <script src="public/blueimp/js/blueimp-gallery-video.js"></script>
    <script src="public/blueimp/js/blueimp-gallery-indicator.js"></script>

    <script>
      document.getElementById('gallery').onclick = function(event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, {
          index: link,
          event: event,
          onslide: function (index, slide) {
            var anchor = this.container.find('.download');
            var url = this.list[index].getAttribute('data-download');
            anchor[0].href = url;
          }
        });
      };
    </script>

    {{#if googleAnalytics}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{googleAnalytics}}', 'auto');
      ga('send', 'pageview');
    </script>
    {{/if}}

  </body>

</html>
