<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <title>{{title}} {{subtitle}}</title>
      <link rel="stylesheet" href="public/reset.css" />
      <link rel="stylesheet" href="public/theme.css" />
      {{#if css}}
        <link rel="stylesheet" href="public/{{css}}" />
      {{/if}}
  </head>

  <body>

    <header>
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </header>

    <ul id="galleries">
      {{#each galleries}}
      <li>
        <a href="{{url}}">
          <h3>{{name}}</h3>
          <div class="meta">
            {{stats}}<br />
            {{fromDate}} - {{toDate}}
          </div>
          {{#if grid}}
            <ul class="grid">
              {{#each grid}}<li><img src="{{this}}" /></li>{{/each}}
            </ul>
          {{else}}
            <img class="single" src="{{single}}" />
          {{/if}}
        </a>
      </li>
      {{/each}}
    </ul>

    {{> analytics}}

  </body>

</html>
