<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <title>{{gallery.name}}</title>
      <link rel="stylesheet" href="public/reset.css" />
      <link rel="stylesheet" href="public/theme.css" />
      {{#if css}}
        <link rel="stylesheet" href="public/{{css}}" />
      {{/if}}
  </head>

  <body>

    <header>
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </header>

    <nav>
      <ul>
        {{#each gallery}}
        <li>
          <a href="{{name}}.html">{{name}}</a>
          <div>{{media.length}} items</div>
        </li>
        {{/each}}
      </ul>
    </nav>

    {{> analytics}}

  </body>

</html>
