<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <title>{{folder.name}}</title>
      <link rel="stylesheet" href="../public/blueimp/css/reset.css" />
      <link rel="stylesheet" href="../public/{{css}}.css" />
  </head>

  <body>

    <header>
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    </header>

    <nav>
      <ul>
        {{#each links}}
        <li>
          <a href="{{url}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>

  </body>

</html>
