<header>
  <a href="{{gallery.home.filename}}.html">
    <h1>{{gallery.title}}</h1>
    <h2>{{gallery.subtitle}}</h2>
  </a>
</header>

{{#compare album.depth '!=' 0}}
  <nav>
    {{#each gallery.home.albums}}
      {{> nav}}
    {{/each}}
  </nav>
{{/compare}}

<ul id="galleries">
 {{#each album.albums}}
 <li>
   <a href="{{filename}}.html">
     <h3>{{title}}</h3>
     <div class="meta">
       {{summary}}<br />
       {{{date stats.fromDate}}} - {{{date stats.toDate}}}
     </div>
     <ul class="grid">
       {{~#slice previews count=4~}}
       <li><img src="{{this.urls.thumb}}" /></li>
       {{~/slice}}
     </ul>
   </a>
 </li>
 {{/each}}
</ul>

<ul id="media">
 {{#each album.files}}
   {{#if isVideo~}}
     <li data-html="#media{{id}}"
         data-poster="{{urls.poster}}"
         data-download-url="{{urls.download}}">
       <a href="{{urls.download}}">
         <img src="{{urls.thumb}}"
              width="{{size}}"
              height="{{size}}"
              alt="{{name}}" />
       </a>
       <img class="video-overlay" src="public/play.png" />
     </li>
   {{else}}
     <li data-src="{{urls.large}}"
         data-sub-html="{{caption}}"
         data-download-url="{{urls.download}}">
       <a href="{{urls.download}}">
         <img src="{{urls.thumb}}"
              width="{{size}}"
              height="{{size}}"
              alt="{{name}}" />
      </a>
     </li>
   {{/if}}
 {{/each}}
</ul>
